<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>MoodBot</title>
</head>
<body>
     <!--nevigationbar-->
     <nev class="navbar">
          <div class="logo">
               <img src="D:\vs\recommendation system\img\logo.jpeg" alt="logo" width="200"></img>
               <h2>MoodBot</h2>
          </div>   
          <ul class="navlinks">
               <li><a href="#">home</a></li>
               <li><a href="#">login</a></li>
               <li><a href="#">signup</a></li>
          </ul>     
     </nev>
     <!--main-->
     <table align="center" border="1">
     <form>
          <tr>
               <td>choose your preference</td>
          </tr>
          <tr>     
               <td><button>movie</button>
                    <button>music</button></td>
          </tr>           
          <tr>
               <td>Type selection</td>
          </tr> 
          <tr>
               <select name="type selection">
                    <option>action</option>
                    <option>comedy</option>
                    <option>romance</option>
                    <option>horror</option>
               </select>
          </tr>  
          <tr>
               <td>
               <select name="type selection">
                    <option>movie type</option>
                    <option>action</option>
                    <option>comedy</option>
                    <option>romance</option>
                    <option>horror</option>
               </select>
               </td>
          </tr>   
     </form>
     </table>
</body>
</html>