# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Model files and temporary data
*.pkl
*.sav
*.log

# System files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Python build artifacts
build/
dist/
*.egg-info/

# Environment variables
.env
